@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato:ital,wght@1,300&family=Montserrat:wght@100&family=Rubik+Bubbles&family=Satisfy&family=Ubuntu:wght@300&display=swap');

*{    
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 992px) {
    .sclphoto{
        height: 15rem ;
        width: 30rem;
    }
    .intro{
        margin-top: 50px;
    }
    .gogo{
        font-family: 'Ubuntu-bold', sans-serif;
        font-size: 30px;
    }
}
@media only screen and (min-width: 600px) {
    .sclphoto{
        height: 10rem ;
        width: 25rem;
    }
    .gogo{
        font-family: 'Ubuntu-bold', sans-serif;
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .sclphoto{
        height: 10rem;
        width: 20rem;
    }
    .gogo{
        font-family: 'Ubuntu-bold', sans-serif;
        font-size: 10px;
    }
}
.intro{
    text-align: center;
}
footer{
    height: 2.5rem;
    background-color: red;
}
.end{
    color: aliceblue;
    text-align: center;
}
h3{
    font-family: 'Montserrat-bold', sans-serif;
    color: red;
}
h4{
    font-family: 'Lato', sans-serif;
}